@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap'); 
/* import for a good looking font */
body{
    margin: 0;
    padding:0;
    font-family: "Open Sans", sans-serif;
}
/* reset margin and padding */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* importing tailwind- 
css framework- allows you to rapidly build websites
styling options */